@{
    ViewData["Title"] = "Privacy   Policy";
}

<div class="text-center">
    <h1 class="display-4">JokesApp</h1>
    <p>Este site ocorre num servidor.</p>
    <p>Por isso não existe ameaças de segurança.</p>
</div>


